#navbarFrameTwoPagesProtocollo2 {
  /* Position*/
  /* position: absolute; */
  top: 0.5vh;
  position: relative;
  height: 11.3vh;

  /* Dimension & background*/
  width: 100%;

  /* Inline */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 10px;

  background-color: #ececec;
  

  /*READ MORE ABOUT*/
  /* https://css-tricks.com/flexbox-like-just-put-elements-in-a-row-with-css-grid/ */
}

/* #navbarBackProtocol { */
  /* height: 10vh; */

  /* display: flex; */
  /* justify-content: left; */

  /* margin-left: 5vh; */
/* } */

#navbarBackProtocolInfo {
  /* height: 10vh; */

  display: flex;
  justify-content: left;

  margin-left: 5vh;
}

#navbarTextProtocol2 {
  height: 100%;
  align-items: center;

  position: relative;
  top: -12%;

  font-size: 4vh;
  font-weight: 500;

  text-align: center;
  /* font-family:sans-serif; */
  display: flex;
  justify-content: center;
}

#navbarInfoProtocol { 
  position: relative;
  top: 0%;
  display: flex;
  justify-content: flex-end;

  margin-right: 6%;
}

#navbarBackProtocol{

  position: relative;
  top: 8%;
  /* display: flex; */
  justify-content: flex-end;

  margin-left: 6%;
}


#navbarBackSvgProtocol {
  /* height: 2vh;
  width: auto;
  padding-top:8%; */
}

#navbarInfoSvg {
  height: 10vh;
  width: auto;
  padding-top:0;
}

#navbarInfoSvgProtocol{
  height: 10vh;
  width: 6%;
}

#navbarBackSvgProtocol{
  height: 8vh;
  width: 2.7%;
  padding-top:0;
}

@media only screen and (max-width: 800px) {
  #navbarBackSvg {
    width: 5%;
    height: 'auto';
  }

  #navbarInfoSvg {
    width: 15%;;
    height: 'auto';
  }
}
