#navbarFrameTwoPagesAbout {
  /* Position*/
  /* position: absolute; */
  top: 0.5vh;
  position: relative;

  /* Dimension & background*/
  width: 100%;

  /* Inline */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 10px;

  background-color: white;
  

  /*READ MORE ABOUT*/
  /* https://css-tricks.com/flexbox-like-just-put-elements-in-a-row-with-css-grid/ */
}

#navbarBackSvgAbout{
  height: 8vh;
  width: 2.7%;
  padding-top:0;
}

#navbarTextAbout {
  height: 100%;
  align-items: center;

  position: relative;
  top: -19%;

  font-size: 4vh;
  font-weight: 500;

  text-align: center;
  /* font-family:sans-serif; */
  display: flex;
  justify-content: center;
}

#navbarInfoAbout{
  position: relative;
  top: -10%;
  display: flex;
  justify-content: flex-end;

  margin-right: 4.5%;
}

#navbarInfoSvgAbout{
  height: 10vh;
  width: 6%;
}

#navbarBackAbout {
  position: relative;
  top: -2%;
  /* display: flex; */
  justify-content: flex-end;

  margin-left: 4.5%;
}

#navbarText {
  height: 7vh;
  align-items: center;

  font-size: 2vh;
  text-align: center;
  font-family:sans-serif;
  display: flex;
  justify-content: center;
}

#navbarInfo { 
  height: 7vh;

  display: flex;
  justify-content: flex-end;

  margin-right: 5vh;
}

#navbarBackSvg {
  width: 2.5%;
  height: auto;
}

#navbarInfoSvg {
  width: 5%;
  height: auto;
}

@media only screen and (max-width: 800px) {
  #navbarBackSvg {
    width: 5%;
    height: 'auto';
  }

  #navbarInfoSvg {
    width: 15%;;
    height: 'auto';
  }
}
